<!-- end header -->
<div class="back_re">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>{{aboutData.title}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about -->

<!-- about -->
<div class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="titlepage">
          <p class="margin_0">{{aboutData.fullContent}}</p>
          <!-- <a class="read_more" href="Javascript:void(0)"> Read More</a> -->
        </div>
      </div>
      <div class="col-md-7">
        <div class="about_img">
          <figure><img src={{aboutData.image}} alt="#" /></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end about -->
