      <!-- our_room -->
      <div  class="our_room">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                    <h2>{{ourRoomData.title}}</h2>
                    <p>{{ourRoomData.content}}</p>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-4 col-sm-6" *ngFor="let room of roomListData">
                 <div id="serv_hover"  class="room">
                    <div class="room_img">
                       <figure><img src={{room.image}} alt="#"/></figure>
                    </div>
                    <div class="bed_room">
                       <h4 style="font-weight: bold;">{{room.title}}</h4>
                       <p>{{room.detail}}</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- end our_room -->
